/*
FORNITE IN THE HEIGHTS
*/
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins:300,400");
body { font-family: 'Poppins', sans-serif; font-weight: 300; color: #fff; background-color: #1e1f47; }
body h2 { font-family: 'Luckiest Guy',  cursive; font-size: 3em; text-align: center; margin-bottom: 2em; }
@media (min-width: 481px) and (max-width: 767px) { body h2 { font-size: 5vw !important; } }
@media (max-width: 480px) { body h2 { font-size: 6vw !important; } }
body p { font-size: 20px; line-height: 200%; text-align: center; }
@media (min-width: 481px) and (max-width: 767px) { body p { font-size: 3vw !important; } }
@media (max-width: 480px) { body p { font-size: 4vw !important; } }

#logo { width: 150px; margin-top: -30px; }
@media (max-width: 640px) { #logo { width: 100px; } }

.navbar-fixed-top { background-color: #1e1f47; }

.navbar-transparent { background: transparent; }

.navbar-collapse { -webkit-box-shadow: inset 0 0px; box-shadow: inset 0 0px; }

.in ul.nav li { text-align: center; }

@media (max-width: 767px) { .in ul.nav li a span { background-color: rgba(30, 31, 59, 0.5); padding: .5em; border-radius: .5em; } }

.win { width: 50%; margin: 0px auto; }
@media (max-width: 640px) { .win { width: 75%; } }

.subhead { text-align: center; }

.size-main { font-size: 2em; color: #fff; margin: 25px; }
@media (max-width: 640px) { .size-main { font-size: 1.5em; } }

@media (max-width: 640px) { .caption-content { padding-top: 30%; } }

.caption-content .btn-l { margin-right: 25px; }

.caption-content .btn-r { margin-left: 25px; }

.caption-content .btn { width: 250px; padding: 8px 0px; text-align: center; }
@media (max-width: 640px) { .caption-content .btn { display: block; margin: 0px auto 1em; } }

span.segment { width: 100px; margin: 0px auto; display: block; }

.btn.btn-border-w { font-size: 1.5em; }

.btn.btn-border-r:hover, .btn.btn-border-r:focus { background: transparent; border-color: #fff; color: #fff; }

.btn.btn-border-r, .btn.btn-border-w:hover, .btn.btn-border-w:focus { background: #cb2655; border-color: transparent; color: #fff; }

.dark-blue { background-color: #1e1f47; }
.dark-blue span.segment { border-bottom: 5px solid #cb2655; }
.dark-blue a { color: #fff; }

.light-blue { background-color: #b7d6f2; color: #19183c; }
.light-blue span.segment { border-bottom: 5px solid #cb2655; }

.luckiest { font-family: 'Luckiest Guy',cursive; }

.exclaim { font-size: 3em; color: #fff; }

#home-overlay { background-image: url(images/fortnitegame-photo.jpg); background-size: cover; background-position: bottom; z-index: 0; height: 100%; width: 100%; position: fixed; overflow: auto; top: 0px; left: 0px; opacity: 0.4; }

#about .blurb { width: 61%; margin: 0px auto; }
@media (max-width: 767px) { #about .blurb { width: 72%; } }

#about-top { -webkit-clip-path: polygon(0 0, 0 10%, 120% 10%); clip-path: polygon(0 0, 0 10%, 120% 10%); position: relative; padding-bottom: 100%; width: 100%; position: absolute; margin-top: -10%; overflow: auto; top: 0px; left: 0px; background-color: #1e1f47; }

#about-overlay { background-color: #1e1f47; background-image: url(images/raven.png); background-size: contain; background-repeat: no-repeat; background-position: center center; z-index: 0; height: 100%; width: 100%; position: absolute; overflow: auto; top: 0px; left: 0px; opacity: 0.2; }

#date-time { font-family: 'Luckiest Guy',cursive; position: absolute; z-index: 100; bottom: 0; height: 0; width: 100%; color: #fff; padding-bottom: 10%; }
@media (min-width: 1281px) { #date-time { padding-bottom: 100px; } }
#date-time .time-shield { width: 20%; position: absolute; left: 50%; top: 0; margin-top: -5%; margin-left: -10%; }
#date-time .date { width: auto; font-size: 3em; color: #fff; position: absolute; top: 50%; margin-top: -.75em; }
@media (max-width: 900px) { #date-time .date { font-size: 4vw; width: 45%; text-align: center; } }
#date-time .day { left: 60%; }
@media (max-width: 900px) { #date-time .day { left: 0; } }
#date-time .doors { right: 60%; text-align: right; }
@media (max-width: 900px) { #date-time .doors { text-align: center; right: 0; } }

.ribbon { background-color: #cb2655; }

.blue { background-color: #486db1; color: #fff; }
.blue h2 { color: #fff; }

.sponsor { width: 60%; margin: 0px auto; height: 0px; padding-bottom: 50%; }
.sponsor img { vertical-align: middle; }

#gallery { padding: 75px 0px; position: relative; z-index: 100; position: relative; }
#gallery .skyline { position: absolute; right: 10%; bottom: -20px; width: 20%; max-width: 250px; }

.gallery-wrap { width: 80%; margin: 0px auto; }
@media (max-width: 767px) { .gallery-wrap { width: auto; } }

/* Slider */
.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-prev, .slick-next { font-size: 1em; line-height: 0; position: absolute; top: 32%; display: block; width: 30px; max-width: 8%; height: 30px; margin-top: -10px; padding: 0; cursor: pointer; border: none; outline: none; border-radius: 50%; z-index: 100; }

.slick-prev { left: 1%; content: ">"; }

.slick-next { right: 0; content: ">"; }

.slick-dots { position: relative; bottom: 0px; display: block; width: 100%; padding: 0; list-style: none; text-align: center; padding-left: 0px !important; }
.slick-dots li { display: inline-block; margin: 0px .5em; }
.slick-dots li button { font-size: 0; line-height: 0; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: #486db1; border: 0; outline: none; background: #486db1; border-radius: 50%; }
.slick-dots li.active { background: #522b1c; }

#home-slideshow .slick-prev, #home-slideshow .slick-next { top: 45%; }

#contact { z-index: 100; position: relative; }

.shy h2 { font-size: 4em; }

#address .segment { padding-bottom: 1em; border-bottom: 2px solid #fff; margin: 0px 0px 2em; padding-bottom: 1em; height: 1em; }

footer { z-index: 1000; position: relative; bottom: 0; width: 100%; }
footer a { color: #fff; }
footer .copyright { font-size: 1em; }

.footer-social-links { color: #fff; }
.footer-social-links a { width: 50px; height: 50px; margin-right: 1em; border: 2px solid #fff; display: inline-block; text-align: center; border-radius: 50%; line-height: 100%; }
.footer-social-links a i { font-size: 30px; line-height: 50px; }

#details h2 { color: #19183c; }

ul#event-details { padding-left: 0px; }
ul#event-details li { background-color: #cb2655; color: #fff; font-weight: 400; margin-bottom: 2em; height: 70px; list-style: none; }
@media (min-width: 640px) { ul#event-details li { padding: 10px; } }
ul#event-details li img { height: 100%; width: auto; }
ul#event-details li span { font-size: 3vw; font-weight: bold; }
@media (min-width: 640px) { ul#event-details li span { font-size: 18px; margin-left: 20px; } }

.slide-bg { background-color: #000; background-size: cover; background-position: center center; }

#slide-track { background-image: url(images/gallery/arena-track.jpg); }

#slide-event { background-image: url(images/gallery/arena-event.jpg); }

#slide-concert { background-image: url(images/gallery/arena-concert.jpg); }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJzdHlsZS5jc3MiXSwiZmlsZSI6InN0eWxlLmNzcyJ9 */
