/*
FORNITE IN THE HEIGHTS
*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins:300,400');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:#fff;
    background-color: #1e1f47;
    h2{
        font-family: 'Luckiest Guy',  cursive;
        font-size:3em;
        text-align:center;
        margin-bottom:2em;
         @media(min-width:481px) and (max-width:767px) {
             font-size: 5vw !important;
         }

         @media(max-width:480px) {
             font-size: 6vw !important;
         }
    }
    p{
        font-size:20px;
        line-height: 200%;
        text-align:center;
        @media(min-width:481px) and (max-width:767px) {
            font-size: 3vw !important;
        }
         @media(max-width:480px) {
             font-size: 4vw !important;
         }
       
    }
}
#logo{
    width:150px;
    margin-top:-30px;
     @media(max-width:640px) {
        width:100px;
     }
}
.navbar-fixed-top {
    background-color: #1e1f47;
}
.navbar-transparent {
    background: transparent;
}
.navbar-collapse{
    box-shadow:inset 0 0px;
}
.collapsing {
    opacity:0;
}
.in ul.nav li{
    text-align:center;
}
.in ul.nav li a span {
    @media(max-width:767px) {
        background-color: rgba(30, 31, 59, .5);
        padding: .5em;
        border-radius: .5em;
    }
}


.win {
    text-align: center;
    font-size:6vw;
    line-height:100%;
    letter-spacing: 2px;
    margin-top:90px;
    @media(max-width:640px) {
     
    }
}


.subhead {
    text-align: center;
}
.size-main {
    font-size: 2em;
    color: #fff;
    margin: 0px 0px 25px;
     @media(max-width:640px) {
        font-size:1.5em;
     }
}
.caption-content  {
    @media(max-width:640px) {
        padding-top:30%;
        .btn{
            margin:0px 0px 1em;
        }
    }
     @media(min-width:641px) {
        .btn-l {
            margin-right: 25px;
        }
        .btn-r {
            margin-left: 25px;
        }
    }
}

.caption-content {
    width: 250px;
    padding:8px 0px;
    text-align: center;
    @media(max-width:640px){
        display: block;
        margin: 0px auto 1em;
    }
    .btn{
        font-size:1.5em;
        width:250px;
         transition: all 0.5s ease-in-out;
         
    }


    .btn-l {
        background: #cb2655 !important;
        border-color: transparent !important;
        color: #fff;
    }
        .btn-l:hover,
        .btn-l:focus {
            background: transparent !important;
            border-color: #fff !important;
            color: #fff !important;
        }
        .btn-r:hover,
        .btn-l:focus {
         background: #cb2655 !important;
         border-color: transparent !important;
         color: #fff;
         }
        }

        .btn-r{
            background: transparent;
            border-color: #fff;
            color: #fff;
            
}

span.segment {
    width:100px;
    margin:0px auto;
    display: block;
}

.btn.btn-border-w{
   
    font-size:1.5em;

}




.dark-blue{
    
    background-color: #1e1f47;
        span.segment {
            border-bottom: 5px solid #cb2655;
        }

    a{
        color:#fff;
    }
}
.light-blue{
    background-color:#b7d6f2;
    color:#19183c;
    span.segment{
        border-bottom:5px solid #cb2655;
    }
}
.luckiest{
    font-family: 'Luckiest Guy',cursive;
}
.exclaim{
    font-size:3em;
    color:#fff;

}


#about, #details {
    

}
svg.semi{
    opacity: 0.2;    
}
.page-loader {
    background-color: #1e1f47;
    .loader-image{
        background:url(images/logos/fortniteintheheights-semi.svg) center center no-repeat;
        background-size:cover;
        opacity:0.4;
        width:61.8%;
        padding-bottom:72%;
        top:10%;        
        left:50%;
        margin-left:-30.9%;
        position: absolute;

    }
}

#home-overlay{
    background-image:url(images/fortnitegame-photo.jpg);
    
    background-size: cover;
        background-position: bottom;
    z-index: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    opacity:0.4;
}

#about{
    .blurb{
        width:61%;
        margin:0px auto;
         @media(max-width:767px) {
             
             width:72%;
         }
    }
           
         
}
#about-top{clip-path:polygon(0 0, 0 10%, 120% 10%);
    position: relative;
    padding-bottom:100%;
    width: 100%;
    position: absolute;
    margin-top:-10%;
     overflow: auto;
     top: 0px;
     left: 0px;
     background-color: #1e1f47;
     
}
#about-overlay {
        background-color: #1e1f47;
        background-image:url(images/raven.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
        z-index: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: auto;
        top: 0px;
        left: 0px;
        opacity:0.2;
        
}
#date-time{
    font-family: 'Luckiest Guy',cursive;
    position: absolute;
    z-index: 100;
    bottom:0;
    height:0;
    width:100%;
    color:#fff;
    padding-bottom:10%;
    @media(min-width:1281px){
        padding-bottom:100px;
    }
    .time-shield {
        width:20%;
        position:absolute;
        left:50%;
        top:0;
        margin-top:-5%;
        margin-left:-10%;
        @media(min-width:1281px) {
            width:250px;
            margin-left:-125px;
        }
    }
    .date{
        width:auto;
        font-size:3em;
        color:#fff;
        position:absolute;
        top:50%;
        margin-top:-.75em;
        @media(max-width:900px){
            font-size:4vw;
            width:45%;
            text-align: center;
            
        }
        
    }
    .day {
        left:60%;
        @media(max-width:900px) {
            left:0;
        }
    }
    .doors{
        right:60%;
        text-align:right;
        @media(max-width:900px) {
        text-align: center;
        right:0;
        }
    }
}
.ribbon{
    background-color:#cb2655;
    
}
.blue{
    background-color: #486db1;
    color:#fff;
    h2{
        color:#fff;
    }
    h3 {
        color: #fff;
         @media(max-width:640px) {
             font-size: 4vw;
          
             text-align: center;
         }
    }
}
#sponsor-board{
    padding:100px 0px;
}
.sponsor{
    width: 20%;

    margin: 0px 6%;
    height: 0px;
    padding-bottom:20%;
    display: inline-block;
    a {
        display: block;
        img{
            width:100%;
            
            vertical-align: middle;
            
        }
    }
}




#gallery{
    padding:75px 0px;
    position: relative;
    .skyline{
        position: absolute;
        right:10%;
        bottom: -20px;
        width:20%;
        max-width:250px;

        img{
           
        }
    }
    z-index: 100;
    position: relative;

}
.gallery-wrap{
    width:80%;
    margin: 0px auto;
    @media(max-width:767px) {
        width:auto;
    }
    .slider{
            max-width: 1240px;
            margin: 0px auto;
    }
}
@import "slick";
.slick-prev,
.slick-next {
    font-size: 1em;
    line-height: 0;
    position: absolute;
    top: 32%;
    display: block;
    width: 30px;
    max-width: 8%;
    height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 100;
}

.slick-prev {
    left: 1%;
    content: ">";
}

.slick-next {
    right: 0;
    content: ">";
}
.slick-dots {
    position: relative;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-left: 0px !important;
    li {
        display: inline-block;
        margin: 0px .5em;
        button {
            font-size: 0;
            line-height: 0;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: #486db1;
            border: 0;
            outline: none;
            background: #486db1;
            border-radius: 50%;
        }
    }
    li.active {
        background: #522b1c;
    }
}
#home-slideshow {
    .slick-prev,
    .slick-next {
        top: 45%;
    }
}


#contact{
    z-index: 100;
    position: relative;
    
    .btn-r{
       
        transform: scale(1.1, 1.1);
        border:3px solid #fff;
        background: #cb2655;
        border-color: transparent;
        color: #fff;
        border-radius:5px;
        padding:1%;
        width: 10em;
        margin: 0px auto;
        display: block;
        font-size: 2em;
        text-align: center;
        transition: all 1s ease-in-out;
    }
    .btn-r:hover,
    .btn-r:focus {
        
         background: transparent;
         border-color: #fff;
         color: #fff;
    }
}





.presents{
    font-style: italic;
    
}


.shy h2{
    font-size: 4em;
    margin-bottom:1em;
}

#address{
    h4{ margin: 0px 0px 0px;}
    h5{
        margin:0px 0px 5px;;
      display: inline-block;  
        border-bottom:1px solid #fff;
        padding-bottom:5px;
    }
    .segment {
        padding-bottom: 1em;
        border-bottom: 2px solid #fff;
        margin: 0px 0px 2em;
        padding-bottom: 1em;
        height: 1em;
    }
    line-height: 120%;
     @media(max-width: 767px) {
     text-align: center;
      .segment {
        margin:0px auto 2em;
      }
 }
 
}
#details{
    padding-bottom:15%;
    h2{
        color:#19183c;
    }
}
ul#event-details{
    padding-left: 0px;
   
    li{
         background-color: #cb2655;
         color:#fff;
         font-weight: 400;
             margin-bottom: 2em;
             height: 70px;
             list-style: none;
             @media(min-width: 640px){
                padding:10px;
             }
             img{
                 height:100%;
                 width:auto;
                
             }
             span{
                 font-size: 3vw;
                 
                 font-weight: bold;
                  @media(min-width: 640px) {
                      font-size: 18px;
                    margin-left:20px;
                  }
             }
    }
}

.slide-bg{
    background-color: #000;
    background-size:cover;
    background-position: center center;
}
#slide-track{
    background-image: url(images/gallery/arena-track.jpg);
}
#slide-event {
    background-image: url(images/gallery/arena-event.jpg);
}
#slide-concert {
    background-image: url(images/gallery/arena-concert.jpg);
}
footer {
    z-index: 1000;
    position: relative;
    bottom: 0;
    width: 100%;
    a {
        color: #fff;
    }
    .copyright {
        font-size: 1em;
    }
    .nav>li>a:focus,
    .nav>li>a:hover {
        color: #486db1;
        font-weight:400;
    }
}

.footer-social-links {
    color: #fff;
    margin-top: 2em;
    a {
        width: 40px;
        height: 40px;
        margin-right: 1em;
        border: 2px solid #fff;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        line-height: 100%;
        transition: all 1s ease-in-out;
        i {
            font-size: 25px;
            line-height: 37px;
        }
    }
    a:hover {
        color: #b7d6f2;
        border: 3px solid #b7d6f2;
        transform: scale(1.2, 1.2);
    }



    footer {
        z-index: 1000;
        position: relative;
        bottom: 0;
        width: 100%;
        a {
            color: #fff;
        }
        .copyright {
            font-size: 1em;
        }
    }

    .footer-social-links {
        color: #fff;
        margin-top: 2em;
        a {
            width: 50px;
            height: 50px;
            margin-right: 1em;
            border: 2px solid #fff;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            line-height: 100%;
            transition: all 1s ease-in-out;
            i {
                font-size: 30px;
                line-height: 50px;
            }
        }
        a:hover {
            color: #b7d6f2;
            border: 3px solid #b7d6f2;
            transform: scale(1.2, 1.2);
        }
    }
    
    
}